.AppTable {
  margin-top: 5px;
}

.AppTableCellTop {
  border-top: 1px solid #dddddd;
}

.AppTableCellLeft {
  border-left: 1px solid #dddddd;
}

.AppTableCell {
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.TeamButton {
  width: 120px;
}
